<!-- Reusable Child Component accepting Various Data -->

<div class="content">
  <!-- Content Projection using <ng-content></ng-content> -->
  <ng-content select=".slot1"></ng-content>
  <ol class="list-group" *ngFor="let item of items">
    <li
      class="list-group-item d-flex justify-content-between align-items-start"
      (click)="productClicked(item.name)"
    >
      <div class="ms-2 me-auto">
        <div class="fw-bold">{{ item.id }} : {{ item.name }}</div>
      </div>
      <span class="badge text-bg-primary rounded-pill">{{ item.price }}</span>
    </li>
  </ol>
  <ng-content select=".slot2"></ng-content>
</div>
