<div class="header">
  <nav id="hamburger" class="navbar sticky-top navbar-expand-lg navbar-light">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a
          *ngIf="!hardCodedAuthService.isUserLoggedIn()"
          class="nav-item nav-link"
          routerLink="/login"
          >Login</a
        >

        <a class="nav-item nav-link" routerLink="/home">Home</a>
        <a
          *ngIf="!hardCodedAuthService.isUserLoggedIn()"
          class="nav-item nav-link"
          routerLink="/bind"
          >Binding</a
        >
        <a
          *ngIf="!hardCodedAuthService.isUserLoggedIn()"
          class="nav-item nav-link"
          routerLink="/bind/directives"
          >Directives</a
        >
        <a
          *ngIf="!hardCodedAuthService.isUserLoggedIn()"
          class="nav-item nav-link"
          routerLink="/bind/pipes"
          >Pipes</a
        >
        <a
          *ngIf="!hardCodedAuthService.isUserLoggedIn()"
          class="nav-item nav-link"
          routerLink="/bind/temp"
          >T-R-V</a
        >
        <a
          *ngIf="!hardCodedAuthService.isUserLoggedIn()"
          class="nav-item nav-link"
          routerLink="/parent-child/parent"
          >ViewChild/ren - ContentChild/ren
        </a>
        <a
          *ngIf="!hardCodedAuthService.isUserLoggedIn()"
          class="nav-item nav-link"
          routerLink="/parent-child-data-transfer/products"
          >Products ( @Input - @Output )
        </a>
      </div>
    </div>
  </nav>
  <nav id="hamburger" class="navbar sticky-top navbar-expand-lg navbar-light">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a
          *ngIf="!hardCodedAuthService.isUserLoggedIn()"
          class="nav-item nav-link"
          routerLink="/lifecycle/life-parent"
          >Comp LifeCycle Parent</a
        >
        <a
          *ngIf="!hardCodedAuthService.isUserLoggedIn()"
          class="nav-item nav-link"
          routerLink="/childrenRoutingWithin"
          >Children-Routing-Within</a
        >
        <a
          *ngIf="!hardCodedAuthService.isUserLoggedIn()"
          class="nav-item nav-link"
          routerLink="/form/temp"
          >T-D-Form</a
        >
        <a
          *ngIf="!hardCodedAuthService.isUserLoggedIn()"
          class="nav-item nav-link"
          routerLink="/form/reactive"
          >Reactive Form</a
        >
        <a
          *ngIf="!hardCodedAuthService.isUserLoggedIn()"
          class="nav-item nav-link"
          routerLink="/childrenRoutingWithin"
          >Children-Routing-Within</a
        >
        <a
          *ngIf="hardCodedAuthService.isUserLoggedIn()"
          class="nav-item nav-link"
          routerLink="/contact"
          >Contact</a
        >
        <a
          *ngIf="hardCodedAuthService.isUserLoggedIn()"
          class="nav-item nav-link"
          routerLink="/logout"
          >Logout</a
        >
        <a class="nav-item nav-link" routerLink="/obs">Observable</a>
      </div>
    </div>
  </nav>
</div>
