<div class="header">
  <nav id="hamburger" class="navbar sticky-top navbar-expand-lg navbar-light">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/home">Home</a>
        <a class="nav-item nav-link" routerLink="/bind">Binding</a>
        <a class="nav-item nav-link" routerLink="/bind/directives"
          >Directives</a
        >
        <a class="nav-item nav-link" routerLink="/bind/pipes">Pipes</a>
        <a class="nav-item nav-link" routerLink="/bind/temp">Temp-Ref-Var</a>
        <a class="nav-item nav-link" routerLink="/parent-child/parent"
          >ViewChild/ren - ContentChild/ren
        </a>
        <a class="nav-item nav-link" routerLink="/parent-child-data-transfer/products"
          >Products ( @Input - @Output )
        </a>
    <a class="nav-item nav-link" routerLink="/contact">Contact</a>
      </div>
    </div>
  </nav>
</div>
