.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(70, 31, 31);
  color: white;
  text-align: center;
  min-height: 25px;
  padding-top: 10px;
}

.abc {
  margin-top: 100px;
}
