<h1 class="center">Please Login !</h1>

<div class="container">
  <div class="alert alert-warning" *ngIf="invalidLogin">
    <p>{{ invalidMessage }}</p>
  </div>

  <div class="form">
    <div class="username">
      <input
        type="text"
        name="Username"
        id="Username"
        placeholder="Enter the Username"
        [(ngModel)]="username"
      />
    </div>

    <div class="password">
      <input
        type="password"
        name="Password"
        id="Password"
        placeholder="Enter Password"
        [(ngModel)]="password"
      />
    </div>
    <div class="button">
      <app-button (click)="handleLogin()">Login</app-button>
      <!-- <button (click)="handleBasicAuthLogin()">Login</button> -->
      <!-- <button (click)="handleJWTAuthLogin()">Login</button> -->
    </div>
  </div>
</div>
