<!-- Property Binding -->
<app-divider>Property Binding</app-divider>
<app-section>
  <ul>
    <li>
      Property Binding is done by seiting the element properties dynamically.
      Like [value], [src], [alt], [hidden], [disabled] and more.
    </li>
    <li>
      We can send data from parent to child component using Property Binding.
    </li>
  </ul>
  <app-imageholder>
    <img
      src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885_1280.jpg"
      alt="Some Nature Image"
      height="200px"
    />
    <img [src]="imageUrl" [alt]="altString" height="200" />
  </app-imageholder>
  <app-heading>
    In one of the the images above we are seeting the [src] and [alt] properties
    dynamically.
  </app-heading>
  <app-imageholder
    ><img src="../../../assets/images/prop-binding-1.png" alt=""
  /></app-imageholder>
</app-section>

<!-- Event Binding -->
<app-section>
  <app-divider>Event Binding</app-divider>
  <div>
    <app-heading>
      Common Events: (change), (ngModelChange), (input), (click)
    </app-heading>
    <br />
    <label>Enter Anything and See the Output.</label><br />
    <input class="input" (input)="onChangeLength($event)" /><br />
    <label for="">Output</label><br />
    <input type="text" [value]="inputValue" />
  </div>

  <app-imageholder
    ><img src="../../../assets/images/event-binding-1.png" alt=""
  /></app-imageholder>

  <div>
    <input
      (change)="enablePasswordButton = !enablePasswordButton"
      type="checkbox"
    />
    <label>Check/Uncheck to Enable/Disable Button Below</label>
  </div>
  <app-button [disabled]="!enablePasswordButton" (click)="onButtonClick()">
    Generate Password
  </app-button>
  <input class="box" *ngIf="password" [value]="password" />
  <app-imageholder
    ><img src="../../../assets/images/event-binding-2.png" alt=""
  /></app-imageholder>
</app-section>

<br />

<!-- 2 Way Binding with ngModel -->
<app-divider>2 Way Binding</app-divider>
<app-section>
  <div class="container">
    <h5>
      Two way Binding can be done using ngModel. We need to import FormsModule
      to be able to use ngModule.
    </h5>
  </div>

  <div>
    <input type="text" [(ngModel)]="twoWayInputValue" />
    <p>{{ twoWayInputValue }}</p>
  </div>
  <app-imageholder>
    <img src="../../../assets/images/2-way-binding.png" alt="" />
  </app-imageholder>
</app-section>
