button {
  background-color: rgb(64, 51, 110);
  color: white;
  border-radius: 4px;
  padding: 5px;
  font-size: larger;
  font-weight: 400;
  margin-top: 5px;
  margin-bottom: 10px;
}

button:disabled {
  background-color: rgb(156, 113, 116);
}
