<!-- Sending Data to Child component 2 ways-->
<!-- 1: Property Binding [items] -->
<!-- 2: Content Projection -> app-divider and app-section Component -->
<!-- 2: Content Projection 1st H4 and 2nd H4 - ( Red Color is coming from @ContentChildren.) -->
<app-divider
  >Parent Component Sending Data to Child using = Property Binding and Content
  Projection</app-divider
>

<ul>
  <li>
    <p>
      We can use <strong>@Input</strong> decorator to accept in
      <strong>TS FILE</strong> of child component, the variable data sent from
      parent component using <strong>PROPERTY BINDING</strong>.
    </p>
  </li>
  <li>
    <p>
      We can use <strong>ng-content</strong> decorator to accept the
      HTML/Another Component data in <strong>HTML / TEMPLATE </strong>sent from
      parent component to child component using
      <strong>CONTENT PROJECTION</strong>.
    </p>
  </li>
  <li>
    <p>
      We can send multiple data using <strong>CONTENT PROJECTION</strong> and
      accept them at various places by using
      <strong>select=".slot1"</strong> property and giving it value of the class
      of projected content <strong>(class="slot1")</strong> defined in parent
      component.
    </p>
  </li>
</ul>

<app-product [items]="products">
  <h6 class="slot1">
    I am Product (Child) Component inside Products Comp (Parent). I am receiving
    data (Electronic Items) in my TS file, ng-content via content-projection
    which is also being updated by accessing using @ContentChild/ren and
    changing it's color to RED.
  </h6>
  <app-divider class="slot1">List of Electronic Junk.</app-divider>

  <app-imageholder class="slot2">
    <p>Data in Products (Parent) TS file</p>
    <img src="../../../assets/images/InputOutput/1.png" alt="" /><br /><br />
    <p>
      Data Transfer using Property Binding [items] in Products (Parent) HTML
      file.
    </p>
    <img src="../../../assets/images/InputOutput/2.png" alt="" /><br /><br />
    <p>Data being received in Product (Child) TS file.</p>
    <img src="../../../assets/images/InputOutput/3.png" alt="" /><br /><br />
    <p>Finally Data being used in Product (Child) HTML file.</p>
    <img src="../../../assets/images/InputOutput/4.png" alt="" /><br /><br />
  </app-imageholder>
</app-product>

<br /><br /><br />
<app-divider
  >Child Component Sending Data to Parent using = EventEmitter</app-divider
>
<ul>
  <li>
    Step 1: Create an Emitter in Child Component TS file with Data Type you need
    to send using generics (notify: EventEmitter string = new EventEmitter
    string()) and annotate it with @Output.
  </li>
  <li>Now Emit Data using Emitter. this.notify.emit("itemName")</li>
  <li>
    Create a notify event in Parent HTML, which will aceept $event.
    (notify)="acceptProductNamefromChild($event)"
  </li>
  <li>
    Create the method now in parent TS file
    (acceptProductNamefromChild(productName: string)) which will directly accept
    the value. Don't need to use the event.target.value.
  </li>
</ul>
<app-product [items]="products" (emitter)="acceptProductNamefromChild($event)">
  <app-heading class="slot2">
    Click any product above to send the product name from child to parent
    component.
  </app-heading>
</app-product>

<div>
  <h4>
    The Product Name below in Input Field will come from Child Component once
    you click any product above.
  </h4>
  <h4><input [value]="productName" /></h4>
</div>

<app-section>
  <app-imageholder>
    <p>
      Inside Child (Product) HTML there is a click event to capture product
      name.
    </p>
    <img src="../../../assets/images/InputOutput/4.png" alt="" /><br /><br />
    <p>
      Inside (Child) Product TS: product name is captured and emitted using
      emitter.
    </p>
    <img src="../../../assets/images/InputOutput/5.png" alt="" /><br /><br />
    <p>
      Inside Parent (Products) HTML: emmiter sends data to Products TS in the
      form of $event.
    </p>
    <img src="../../../assets/images/InputOutput/6.png" alt="" /><br /><br />
    <p>
      Finally, inside (Parent) Products TS: product name is receieved and saved
      in a variable.
    </p>
    <img src="../../../assets/images/InputOutput/7.png" alt="" /><br /><br />
  </app-imageholder>
</app-section>
