<div class="container">
  <h1>Welcome to Angular Cheatsheet Project Home Page</h1>

  <div class="links">
    <a class="nav-item nav-link" routerLink="/home">Home</a>
    <a class="nav-item nav-link" routerLink="/bind">Binding</a>
    <a class="nav-item nav-link" routerLink="/bind/directives">Directives</a>
    <a class="nav-item nav-link" routerLink="/bind/pipes">Pipes</a>
    <a class="nav-item nav-link" routerLink="/bind/temp">Temp-Ref-Var</a>
    <a class="nav-item nav-link" routerLink="/contact">Contact</a>
  </div>

  <h1>
    You can Login by using "admin" as username and password or click the button
    below to login automatically. You won't be able to access the pages without
    login.
  </h1>
  <h1>Only Contact Page is accessible after login</h1>
  <div class="container">
    <button (click)="autoLoginAndAccess()">
      <h5>Login Without Entering Username and Password for Quick Access</h5>
    </button>
  </div>
</div>
