<div class="container">
  <h1>Welcome to Angular Cheatsheet Project Home Page</h1>

  <div class="links">
    <a class="nav-item nav-link" routerLink="/home">Home</a>
    <a class="nav-item nav-link" routerLink="/bind">Binding</a>
    <a class="nav-item nav-link" routerLink="/bind/directives">Directives</a>
    <a class="nav-item nav-link" routerLink="/bind/pipes">Pipes</a>
    <a class="nav-item nav-link" routerLink="/bind/temp">Temp-Ref-Var</a>
    <a class="nav-item nav-link" routerLink="/contact">Contact</a>
  </div>
</div>
